{
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-essential",
    "prettier/vue",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "vue/component-name-in-template-casing": ["error", "PascalCase", {
      "ignores": []
    }],
    "prettier/prettier": ["error", { "singleQuote": true, "endOfLine": "auto" }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}